# 6장 튜플과 딕셔너리

# 튜플

In [1]:
#ex 6-1 (튜플은 수정이 불가!!)

menu = ('coffee', 'milk', 'tea', 'cider')

print(menu)
print(menu[0])
print(menu[2])
print(menu[0:3])

menu[1]='cola'

('coffee', 'milk', 'tea', 'cider')
coffee
tea
('coffee', 'milk', 'tea')

TypeError: 'tuple' object does not support item assignment

In [4]:
# ex 6-2

tuple1 = ('apple', 'banana', 'cherry')
tuple2 = ('orange', 'melon', 'strawberry')

tuple3 = tuple1+tuple2

print(tuple3)
print(len(tuple3))


for x in tuple1:
    print(x)
del tuple1

('apple', 'banana', 'cherry', 'orange', 'melon', 'strawberry')
6
apple
banana
cherry

In [13]:
# q6-1

dan = (2,3,4,5,6,7,8,9)

print('구구단표')
print('_'*30)

for x in dan:
    for i in range(1,10):
        print('%d x %d = %d' %(x, i, x*i))
    print('_'*30)

구구단표
______________________________
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
______________________________
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
______________________________
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
______________________________
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
______________________________
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
______________________________
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
______________________________
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
______________________________
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
______________________________

In [16]:
#q6-2

admin_info=('admin', '12345', 'jbk3407@naver.com')

id = input('관리자 아이디를 입력하세요 : ')
passward = input('관리자 비밀번호를 입력하세요 : ')

if id == admin_info[0] and passward == admin_info[1]:
    print('관리자 입니다')
else:
    print('아이디 또는 비밀번호가 잘못 입력되었습니다.')

관리자 아이디를 입력하세요 : admin
관리자 비밀번호를 입력하세요 : 12345
관리자 입니다

In [22]:
#튜플 만들기

a=(1,3,5,7,9)
odds = tuple(range(1,10,2))
print(a)
print(odds)

(1, 3, 5, 7, 9)
(1, 3, 5, 7, 9)

In [28]:
a = (1,4,9,16,25)
pow = tuple(i*i for i in range(1,6))
print(a)
print(pow)

(1, 4, 9, 16, 25)
(1, 4, 9, 16, 25)

In [34]:
odd_squ = tuple(i*i for i in range(1,10) if i%2==1)
print(odd_squ)

(1, 9, 25, 49, 81)

In [49]:
a = (11,22,33,44,55,66,77,88,99)
print(a[0:9:4])
print(a[::4])

(11, 55, 99)
(11, 55, 99)

# 딕셔너리

In [20]:
#ex 6-3

members = {'name':'안지영', 'age':'30', 'email':'jiyoung@korea.com'}

print(members)
print(members['name'])
print(members['age'])

print('길이 : %d' %(len(members)))

{'name': '안지영', 'age': '30', 'email': 'jiyoung@korea.com'}
안지영
30
길이 : 3

In [29]:
#ex 6-4

name = '안진영'
scores = {'kor':95, 'eng':85, 'math':90, 'science':80}
print(scores)

scores['kor']=70
print(scores['kor'])

scores['music']=100
print(scores)

del scores['science']
print(scores)

print('이름 : %s' %name)
print('국어 : %d' %scores['kor'])
print('영어 : %d' %scores['eng'])
print('수학 : %d' %scores['math'])

{'kor': 95, 'eng': 85, 'math': 90, 'science': 80}
70
{'kor': 70, 'eng': 85, 'math': 90, 'science': 80, 'music': 100}
{'kor': 70, 'eng': 85, 'math': 90, 'music': 100}
이름 : 안진영
국어 : 70
영어 : 85
수학 : 90

In [36]:
#ex 6-5

phones = {'갤럭시노트8':2017, '갤럭시 S9':2018, '갤럭시노트10':2019, '갤럭시S20':2020}

print(phones)

for i in phones:
    print('%s => %s' %(i, phones[i]))
    
print(len(phones))

{'갤럭시노트8': 2017, '갤럭시 S9': 2018, '갤럭시노트10': 2019, '갤럭시S20': 2020}
갤럭시노트8 => 2017
갤럭시 S9 => 2018
갤럭시노트10 => 2019
갤럭시S20 => 2020
4

In [43]:
#q 6-3

scores = {'김예진':90, '박영진':95, '김소희':84}

sum = 0

for i in scores:
    sum+=scores[i]
    
    print('%s : %d' %(i, scores[i]))
avg = sum/len(scores)

print('합계 : %d, 평균 : %.2f' %(sum, avg))

김예진 : 90
박영진 : 95
김소희 : 84
합계 : 269, 평균 : 89.67

In [45]:
#q 6-4

ad = {'id':'admin', 'pass':'11111'}

in_id = input('아이디를 입력하세요 : ')
in_pass = input('비밀번호를 입력하세요 : ')

if(in_id==ad['id'] and in_pass==ad['pass']):
    print('모든 정보에 접근 가능합니다')
else:
    print('접근제한!')

아이디를 입력하세요 : admin
비밀번호를 입력하세요 : 11111
모든 정보에 접근 가능합니다

In [47]:
# q6-5

words = {'사과':'apple', '컴퓨터':'computer', '학교':'school', '책상':'desk', '의자':'chair'}

for i in words:
    in_word = input('%s에 해당되는 영어 단어를 입력해주세요:' %i)
    
    if in_word == words[i]:
        print('정답입니다')
    else:
        print('틀렸습니다')

사과에 해당되는 영어 단어를 입력해주세요:apple
정답입니다
컴퓨터에 해당되는 영어 단어를 입력해주세요:commputer
틀렸습니다
학교에 해당되는 영어 단어를 입력해주세요:school
정답입니다
책상에 해당되는 영어 단어를 입력해주세요:desk
정답입니다
의자에 해당되는 영어 단어를 입력해주세요:chait
틀렸습니다