# chapter 2 파이썬 기본 문법

In [4]:
#ex 2-8
x = 'i am happy!'

print(x)
print(x[0])
print(x[0:3])
print(x[5:])
print(x[-1])
print(x[-3:])
print(x[-4:-2])

i am happy!
i
i a
happy!
!
py!
pp

In [12]:
y = '나는 행복합니다.'
print(y[:2])
print(y[3:-1])
print(y[3:5])
start = 3
print(y[start:start+2])

나는
행복합니다
행복
행복

In [14]:
#ex 2-9
a = True
b = False
c=10>20

print(a)
print(b)
print(c)

print(type(c))

True
False
False
<class 'bool'>

In [15]:
#ex 2-10
a=10
b=20

c= a+b*10-5/5
print(c)

209.0

In [17]:
sum = 0
for i in range(1,10):
    sum +=i
print(sum)

45

In [25]:
sum = 0
for i in range(1,10):
    sum=sum+i
print(sum)

45

In [19]:
a = '*'
a*5

'*****'

In [26]:
a = 'jeon byung gwan'
len(a)
print(len(a))

15

In [32]:
name = 'Bryan'
greet = name + " Welcome"
print(greet)

Bryan Welcome

In [37]:
#ex 2-18
eng = 80
result = 'eng score: ' + str(eng)
print(result)

eng score: 80

In [54]:
#ex 2-22
year = 2020
month = 5
day = 29

a = '%d-%02d-%02d'%(year, month, day)
print(a)

2020-05-29

In [60]:
#ex 2-23
height = 172.5
a = 'hight is %0.2f [cm]'%height
b = 'hight is %f [cm]'%height
c= 'hight is %-0.1f [cm]'%height
d= 'hight is %10.2f'%height
print('a',a)
print('b',b)
print('c',c)
print('d',d)

a hight is 172.50 [cm]
b hight is 172.500000 [cm]
c hight is 172.5 [cm]
d hight is     172.50

In [66]:
#ex 2-24
name = 'bryan'
age = 27
eyesight = 1.2

a = 'name:{}'.format(name)
b = 'age:{}'.format(age)
c = 'eyesight:{}'.format(eyesight)

z= 'name: ()'.format(name)

print(a)
print(b)
print(c)
print(z)

name:bryan
age:27
eyesight:1.2
name: ()

In [79]:
#문자열 메소드
x1 = 'i am happy'
x = '111 222 333'
x.count("1")

3

In [81]:
x1.find('happy')

5

In [82]:
x1.upper()

'I AM HAPPY'

In [83]:
x1.lower()

'i am happy'

In [84]:
x.isspace()

False

In [86]:
x1.replace('am', 'was')

'i was happy'

In [90]:
x1.split(' ')

['i', 'am', 'happy']

In [93]:
print(x.split('1'))
print(x.split('111'))

['', '', '', '222333']
['', '222333']

In [99]:
x1.isspace()

False

In [102]:
x.isspace()

False

In [2]:
#ex 2-27

score1= 80
score2 = 87

sum = score1+score2
avg = sum/2

print("두과목 점수: %d,%d"%(score1, score2))
print('합계:%d, 평균:%.2f'%(sum, avg))

두과목 점수: 80,87
합계:167, 평균:83.50

In [13]:
#ex 2-28
name= 'bryan'
id = 'jbk3407'
point = '18000'

print("name:{}".format(name))
print(("id:{}, 마일리지:{}").format(id, point))

name:bryan
id:jbk3407, 마일리지:18000

In [4]:
#sep, end
print("오늘은")
year =2020
month = 5
day = 29
print(year, month, day)
print("입니다")

오늘은
2020 5 29
입니다

In [6]:
#오늘은 2020/5/29 입니다.
print('오늘은', end=' ')
print(year, month, day, sep='/', end="")
print('입니다')

오늘은 2020/5/29입니다

In [16]:
#ex 2-31
name = input('이름을 입력하시오: ')
print('%s님 반갑습니다'%name)

이름을 입력하시오: byran
byran님 반갑습니다

In [1]:
#ex 2-32
a = int(input('첫번째 숫자를 입력하세요:'))
b= int(input('두번째 숫자를 입력하세요:'))

c= a+b

print(c)
print(type(a), type(b), type(c))

첫번째 숫자를 입력하세요:20
두번째 숫자를 입력하세요:30
50
<class 'int'> <class 'int'> <class 'int'>