# chapter 4 반복문

In [1]:
#ex 4-1

for x in range(5):
    print("안녕하세요.", x)

안녕하세요. 0
안녕하세요. 1
안녕하세요. 2
안녕하세요. 3
안녕하세요. 4

In [2]:
#ex 4-2
x=0
while x<5:
    print('안녕하세요.',x)
    x+=1

안녕하세요. 0
안녕하세요. 1
안녕하세요. 2
안녕하세요. 3
안녕하세요. 4

In [3]:
for i in range(5,0,-1):
    print(i)

5
4
3
2
1

In [5]:
#ex 4-3
sum=0
for i in range(1,11):
    sum+=i
print(sum)

55

In [6]:
#ex 4-4
for i in range(10):
    print(i, end="")
print()

0123456789

In [7]:
for i in range(1, 11):
    print(i, end="")
print()

12345678910

In [10]:
#ex 4-5

sum=0

for i in range(1,101):
    if i%3==0:
        print('%d'%i, end=" ")
        sum+=i
        
print('\n', '-'*50)
print('1~100에서 3의 배수의 합계:%d'%sum)

3 6 9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 81 84 87 90 93 96 99
 --------------------------------------------------
1~100에서 3의 배수의 합계:1683

In [12]:
#ex 4-6

word = input('영어 단어 입력하세요: ')

for c in word:
    print(c)

영어 단어 입력하세요: i love you
i

l
o
v
e

y
o
u

In [14]:
#ex 4-7

print('-'*30)
print('    섭씨   화씨')
print('-'*30)

for c in range(-20, 31, 5):
    f = c*9.0/5.0+32.0
    print('%8d %6.1f'%(c,f))
print('-'*30)

------------------------------
    섭씨   화씨
------------------------------
     -20   -4.0
     -15    5.0
     -10   14.0
      -5   23.0
       0   32.0
       5   41.0
      10   50.0
      15   59.0
      20   68.0
      25   77.0
      30   86.0
------------------------------

In [18]:
#q 4-3

phone = input('파이프능ㄹ 뺀 11자리의 휴대폰 번호를 입력하세요: ')

number = ''

for i in range(len(phone)):
    if i== 2:
        number = number+(phone[2]+'-')
    elif i== 6:
        number = number+(phone[6]+'-')
    else:
        number = number +(phone[i])
print(number)

파이프능ㄹ 뺀 11자리의 휴대폰 번호를 입력하세요: 01056768723
010-5676-8723

In [19]:
#q 4-4
for cm in range(10,201,10):
    inch = cm*0.393701
    ft = cm*0.032808
    yd = cm*0.0010936
    print('%8d %10.1f %10.1f %10.1f'%(cm, inch, ft, yd))

      10        3.9        0.3        0.0
      20        7.9        0.7        0.0
      30       11.8        1.0        0.0
      40       15.7        1.3        0.0
      50       19.7        1.6        0.1
      60       23.6        2.0        0.1
      70       27.6        2.3        0.1
      80       31.5        2.6        0.1
      90       35.4        3.0        0.1
     100       39.4        3.3        0.1
     110       43.3        3.6        0.1
     120       47.2        3.9        0.1
     130       51.2        4.3        0.1
     140       55.1        4.6        0.2
     150       59.1        4.9        0.2
     160       63.0        5.2        0.2
     170       66.9        5.6        0.2
     180       70.9        5.9        0.2
     190       74.8        6.2        0.2
     200       78.7        6.6        0.2

In [21]:
#ex 4-8

a=2

for b in range(1,10):
    c=a*b
    print('%d x %d = %d' %(a,b,c))

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

In [23]:
#ex 4-9
for a in range(2,10):
    for b in range(1,10):
        c=a*b
        print('%d x %d = %d'%(a,b,c))

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [26]:
#q 4-7

for i in range(1,11):
    for j in range(1,i+1):
        print('*', end="")
    print()

*
**
***
****
*****
******
*******
********
*********
**********

In [12]:
#q 4-8

for i in range(1,6):
    for s in range(5, i, -1):
        print(' ', end="")
    for k in range(1, i+1):
        print('*', end="")
    print()

    *
   **
  ***
 ****
*****

In [15]:
# 합이 1000에 가장 가까운 경우는 1에서부터 얼마까지 더한 경우인가?

sum=0
count=1

while True:
    
    if sum > 1000:
        break
    sum += count
    count +=1
print(sum, count)

1035 46

In [21]:
#중첩에서 break

for i in range(1,6):
    print('i=', i, ':', end=" ")
    for k in range(5):
        if k==i:
            break;
        print(k, end=" ")
    print()

i= 1 : 0
i= 2 : 0 1
i= 3 : 0 1 2
i= 4 : 0 1 2 3
i= 5 : 0 1 2 3 4