import numpy as np

In [24]:
# 1. 길이가 10 인 0-벡터를 만드세요.

data1 = np.zeros(10)
data1

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [25]:
#2 . 길이가 10이며 다섯번째 원소만 1이고 나머지 원소는 모두 0인 벡터를 만드세요.

data1[5]=1
data2 = data1
data2

array([0., 0., 0., 0., 0., 1., 0., 0., 0., 0.])

In [122]:
#3. 10부터 49까지의 값을 가지는 벡터를 만드세요.

data3 = np.arange(10,50)
data3

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26,
       27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43,
       44, 45, 46, 47, 48, 49])

In [123]:
#4. 위(3번) 벡터의 순서를 바꾸세요.
data4 = np.flip(data3)
data4

array([49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33,
       32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16,
       15, 14, 13, 12, 11, 10])

In [126]:
np.arange(49,9,-1)

array([49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33,
       32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16,
       15, 14, 13, 12, 11, 10])

In [53]:
#5. 0부터 8까지의 값을 가지는 3x3 행렬을 만드세요

data5 = np.arange(9).reshape(3,3)
data5

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [125]:
#6. 벡터 [1,2,0,0,4,0]에서 원소의 값이 0이 아닌 원소만 선택한 벡터를 만드세요.

data6 = np.array([1,2,0,0,4,0])
np.nonzero(data6)

(array([0, 1, 4], dtype=int64),)

In [95]:
#7. 3x3 단위 행렬을 만드세요

data7 = np.identity(n=3)
data7

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [100]:
#8. 난수 원소를 가지는 3x3 행렬을 만드세요
np.random.seed(seed=1000)

data8 = np.random.rand(9).reshape(3,3)
data8

array([[0.65358959, 0.11500694, 0.95028286],
       [0.4821914 , 0.87247454, 0.21233268],
       [0.04070962, 0.39719446, 0.2331322 ]])

In [113]:
#9. 위(8번)에서 만든 난수 행렬에서 최대값/최소값 원소를 찾으세요

data9_1 = np.argmax(data8)
data9_2 = np.argmin(data8)
print(data9_1)
print(data9_2)

2
6

In [127]:
#10. 위(8번)에서 만든 난수 행렬에서 행 평균, 열 평균을 계산하세요.

data10_1 = np.mean(data8, axis=1)
print(data10_1)

data10_2 = np.mean(data8, axis=0)
print(data10_2)

[0.5729598  0.52233287 0.22367876]
[0.39216354 0.46155865 0.46524925]