# 4장 연습문제

In [3]:
# 4-1

for i in range(1,6):
    print('*'*10)

**********
**********
**********
**********
**********

In [4]:
# 4-2
i=0
while True:
    if i ==5:
        break;
        
    i=i+1
    print('*'*10)

**********
**********
**********
**********
**********

In [5]:
# 4-3

for i in range(6,0,-1):
    for j in range(i):
        print(i,end=" ")
    print()

6 6 6 6 6 6
5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [6]:
# 4-4

for i in range(0,7):
    for j in range(i):
        print(j, end=" ")
    print()

0
0 1
0 1 2
0 1 2 3
0 1 2 3 4
0 1 2 3 4 5

In [169]:
# 4-5

for i in range(1,9):
    if i==1 or i==8:
        print('*'*8)
    else:
        print('*      *')

********
*      *
*      *
*      *
*      *
*      *
*      *
********

In [8]:
# 4-6
sum=0
for i in range(1,100,2):
    sum+=i
    if i < 99:
        print(i , end=" + ")
    else:
        print(i, end= ' ')
        
print("=",sum)

1 + 3 + 5 + 7 + 9 + 11 + 13 + 15 + 17 + 19 + 21 + 23 + 25 + 27 + 29 + 31 + 33 + 35 + 37 + 39 + 41 + 43 + 45 + 47 + 49 + 51 + 53 + 55 + 57 + 59 + 61 + 63 + 65 + 67 + 69 + 71 + 73 + 75 + 77 + 79 + 81 + 83 + 85 + 87 + 89 + 91 + 93 + 95 + 97 + 99 = 2500

In [189]:
#4-7

N = int(input('N의 값을 입력하세요 : '))
print('N의 값 : %d' %N)

sum=0
for i in range(1,N+1):
    j=2*i
    k=j**(j-1)
    sum = sum+k
    
print('합계 : ', sum)

N의 값을 입력하세요 : 12
N의 값 : 12
합계 :  55587848729466671350053056661666

In [190]:
# 4-8

N = int(input('N 값을 입력해주세요 : '))

for i in range(2,N+1):
    x=True
    for j in range(2,i):
        if i%j==0:
            x=False
            break
            
    if x:
        print(i, end=" ")

N 값을 입력해주세요 : 200
2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97 101 103 107 109 113 127 131 137 139 149 151 157 163 167 173 179 181 191 193 197 199

In [78]:
# 4-9

print('-'*50)
print('달러($)   원화(원),    유로(￡)')
print('-'*50)

i=1
doll = 10
won = 10800
eu = 8.1

while i <= 10:
    
    doll = 10
    won = 10800
    eu = 8.1
    
    doll=doll*i
    won = won*i
    eu = eu*i
    
    print('%6d  %9d  %8.1f' %(doll, won, eu))
    
    i=i+1
print('-'*50)

--------------------------------------------------
달러($)   원화(원),    유로(￡)
--------------------------------------------------
    10      10800       8.1
    20      21600      16.2
    30      32400      24.3
    40      43200      32.4
    50      54000      40.5
    60      64800      48.6
    70      75600      56.7
    80      86400      64.8
    90      97200      72.9
   100     108000      81.0
--------------------------------------------------

In [88]:
# 4-10
print('-'*50)
print('cm,   mm,     m,     inch')
print('-'*50)

i=1
n=0

while i<=100:
    n=n+1
    
    cm=1
    mm=10
    m=0.01
    inch=0.3937
    
    cm=cm*i
    mm=mm*i
    m=m*i
    inch=inch*i
    
    i=2*n+1
    
    print('%2d %5d %8.2f %8.2f' %(cm, mm, m, inch))

--------------------------------------------------
cm,   mm,     m,     inch
--------------------------------------------------
 1    10     0.01     0.39
 3    30     0.03     1.18
 5    50     0.05     1.97
 7    70     0.07     2.76
 9    90     0.09     3.54
11   110     0.11     4.33
13   130     0.13     5.12
15   150     0.15     5.91
17   170     0.17     6.69
19   190     0.19     7.48
21   210     0.21     8.27
23   230     0.23     9.06
25   250     0.25     9.84
27   270     0.27    10.63
29   290     0.29    11.42
31   310     0.31    12.20
33   330     0.33    12.99
35   350     0.35    13.78
37   370     0.37    14.57
39   390     0.39    15.35
41   410     0.41    16.14
43   430     0.43    16.93
45   450     0.45    17.72
47   470     0.47    18.50
49   490     0.49    19.29
51   510     0.51    20.08
53   530     0.53    20.87
55   550     0.55    21.65
57   570     0.57    22.44
59   590     0.59    23.23
61   610     0.61    24.02
63   630     0.63    24.80
65   650     0.65    25.59
67   670     0.67    26.38
69   690     0.69    27.17
71   710     0.71    27.95
73   730     0.73    28.74
75   750     0.75    29.53
77   770     0.77    30.31
79   790     0.79    31.10
81   810     0.81    31.89
83   830     0.83    32.68
85   850     0.85    33.46
87   870     0.87    34.25
89   890     0.89    35.04
91   910     0.91    35.83
93   930     0.93    36.61
95   950     0.95    37.40
97   970     0.97    38.19
99   990     0.99    38.98

# 5장 연습문제

In [191]:
# 5-1

data = [-12,3,-9,5,8,-2,0,-8,3,10]

max=data[0]

for i in range(len(data)):
    
    if max < data[i]:
        max = data[i]

print('최대값 : %d'%max)

최대값 : 10

In [121]:
#5-2

data = [-12,3,-9,5,8,-2,0,-8,3,10]

i=0
sum = 0
count = 0

while i < len(data):
    if(i%2!=0):
        sum = sum+data[i]
        count = count+1
    i=i+1
avg = sum/count
print('합계 : %d 평균 : %.2f' %(sum, avg))

합계 : 8 평균 : 1.60

In [122]:
#5-3

data = [-12,3,-9,5,8,-2,0,-8,3,10]

data.sort(reverse = True)
print(data)

[10, 8, 5, 3, 3, 0, -2, -8, -9, -12]

In [123]:
#5-4

data = [-12,3,-9,5,8,-2,0,-8,3,10]

data.insert(3,100)
print(data)

[-12, 3, -9, 100, 5, 8, -2, 0, -8, 3, 10]

In [125]:
#5-5

data = [-12,3,-9,5,8,-2,0,-8,3,10]
data2 = data.index(-12)
data.pop(data2)
print(data)

[3, -9, 5, 8, -2, 0, -8, 3, 10]

In [127]:
#5-6

stone = [[0,0,0,0,0,0,0,0,0],
         [0,1,0,1,2,1,2,1,0],
         [0,2,1,1,1,2,2,0,0],
         [0,0,2,2,2,1,0,2,0],
         [0,0,0,0,0,1,0,2,1],
         [0,0,0,2,0,1,2,1,0],
         [0,0,0,2,1,0,1,1,0],
         [0,0,0,1,1,0,0,0,0],
         [0,0,0,0,2,2,2,0,0]]

black = 0
white = 0

for i in range(len(stone)):
    black = black + stone[i].count(1)
    white = white + stone[i].count(2)
    
print('흑돌의 개수 : %d' %black)
print('백돌의 개수 : %d' %white)

흑돌의 개수 : 17
백돌의 개수 : 16

In [129]:
#5-7

stone = [[0,0,0,0,0,0,0,0,0],
         [0,1,0,1,2,1,2,1,0],
         [0,2,1,1,1,2,2,0,0],
         [0,0,2,2,2,1,0,2,0],
         [0,0,0,0,0,1,0,2,1],
         [0,0,0,2,0,1,2,1,0],
         [0,0,0,2,1,0,1,1,0],
         [0,0,0,1,1,0,0,0,0],
         [0,0,0,0,2,2,2,0,0]]
for i in range(len(stone)):
    for j in range(len(stone[i])):
        if stone[i][j] ==1:
            print('B', end=" ")
        elif stone[i][j] ==2:
            print('W', end=" ")
        else:
            print('X', end=" ")
    print()

X X X X X X X X X
X B X B W B W B X
X W B B B W W X X
X X W W W B X W X
X X X X X B X W B
X X X W X B W B X
X X X W B X B B X
X X X B B X X X X
X X X X W W W X X

In [166]:
#5-8

stone = [[0,0,0,0,0,0,0,0,0],
         [0,1,0,1,2,1,2,1,0],
         [0,2,1,1,1,2,2,0,0],
         [0,0,2,2,2,1,0,2,0],
         [0,0,0,0,0,1,0,2,1],
         [0,0,0,2,0,1,2,1,0],
         [0,0,0,2,1,0,1,1,0],
         [0,0,0,1,1,0,0,0,0],
         [0,0,0,0,2,2,2,0,0]]

print('    ', end="  ")
for i in range(1,10):
    if i==9:
        print('0%d'%i)
    else:
        print('0%d'%i, end="  ")
        
for i in range(len(stone)):
    print('0%d' %(i+1), end="     ")
    for j in range(len(stone[i])):
        if stone[i][j] ==1:
            print('B', end="   ")
        elif stone[i][j] ==2:
            print('W', end="   ")
        else:
            print('X', end="   ")
    print()

      01  02  03  04  05  06  07  08  09
01     X   X   X   X   X   X   X   X   X
02     X   B   X   B   W   B   W   B   X
03     X   W   B   B   B   W   W   X   X
04     X   X   W   W   W   B   X   W   X
05     X   X   X   X   X   B   X   W   B
06     X   X   X   W   X   B   W   B   X
07     X   X   X   W   B   X   B   B   X
08     X   X   X   B   B   X   X   X   X
09     X   X   X   X   W   W   W   X   X

In [192]:
#5-9
????

Object `??` not found.